
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

li::marker {
    font-size: 3em;
    line-height: .1;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: #e19f06;
}

.logo a:hover {
    color: #fdbd29;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    }

       

.nav-links {  
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;  
}
    

.nav-links a {   
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
}

.nav-links a:hover {
    color: white;
}

.signup-link:hover {
    text-decoration: underline;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(225, 225, 225);
    margin: 5px;
}

