ul {
    font-size: 1em;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%232783E6"><path d="M19 10H9l2.71-3.29A.996.996 0 1 0 10.3 5.3c.03-.02-3.21 2.64-4.29 3.71-1.01.99-2 2-2 5 0 2 1 4 3 4h5c.55 0 1-.45 1-1s-.45-1-1-1h1c.55 0 1-.45 1-1s-.45-1-1-1h1c.55 0 1-.45 1-1s-.45-1-1-1h5c.55 0 1-.45 1-1s-.45-1-1-1Z"></path></svg>');
}
li::marker{
    font-size: 3em;
    line-height: .1;
}

nav {

    background-color: #333;
    
    padding: 10px;
    
    }
nav ul {
    
 list-style-type: none;
    
 padding: 0;
    
 margin: 0;

 display: flex;
    
 justify-content: space-around;
    
}
    

nav a {
    
   color: white;
    
   text-decoration: none;
    
   font-size: 1rem;

   font-family: 'Rockwell';
    
}
