{% extends 'gymmy/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}

{% block content %}
    <title>About</title>
        <div class="wrapper">
            <div class="container">
                <div class ="card">
                    <div class ="front"><img src="{% static 'css/surajstoopid.jpg' %}" alt="SURAJ"></div>
                    <div class ="back">
                    <h1>Suraj</h1>
                    <h2>Full-Stack Developer</h2>
                    <p>I am Suraj and I love to yap</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class ="card">
                    <div class ="front"><img src="{% static 'css/crazyface1.jpg' %}" alt="LAW"></div>
                    <div class ="back">
                    <h1>Law</h1>
                    <h2>Full-Stack Developer</h2>
                    <p>I am Law and I escaped north korea</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class ="card">
                    <div class ="front"><img src="{% static 'css/kai.jpg' %}" alt="KAI"></div>
                    <div class ="back">
                    <h1>Kai</h1>
                    <h2>Full-Stack Developer</h2>
                    <p>I am Kai and I love Jasmeat(x̄)</p>
                    </div>
                </div>
            </div>
        </div>    
{% endblock %}