{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel = "stylesheet" href="{% static 'css/about.css' %}">
    <body>
        <div class="wrapper">
            <div class="container">
                <div class ="card">
                    <div class ="front"><img src="C:\\Users\\Suraj\\Pictures\\Screenshots\\Screenshot (93).png" alt="SURAJ"></div>
                    <div class ="back">
                    <h1>Suraj</h1>
                    <h2>Frontend Developer</h2>
                    <p>I am Suraj from the Faculty of Computing & Informatics</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class ="card">
                    <div class ="front"><img src="C:\\Users\\Suraj\\Pictures\\Screenshots\\Screenshot (93).png" alt="LAW"></div>
                    <div class ="back">
                    <h1>Law</h1>
                    <h2>Frontend Developer</h2>
                    <p>I am Law from the Faculty of Computing & Informatics</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class ="card">
                    <div class ="front"><img src="C:\\Users\\Suraj\\Pictures\\Screenshots\\Screenshot (93).png" alt="KAI"></div>
                    <div class ="back">
                    <h1>Kai</h1>
                    <h2>Frontend Developer</h2>
                    <p>I am Kai from the Faculty of Computing & Informatics</p>
                    </div>
                </div>
            </div>
        </div>    
    </body>
</html>