{% extends "Gymmy/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Gymmy | Profile{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-content">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Profile Image">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <div class="form-background">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-groups">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}

                </fieldset>
                <div class="form-groups">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
