{% extends "Gymmy/base.html" %}
{% load static %}
{% block title %}Gymmy | Profile{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% block content %}
<div class="profile-container">
   
    <div class="profile-content">
        <div class="media">
            <div class="profile-img-container">
                <img class="account-img" src="{{ user.profile.image.url }}" alt="Profile Image">
            </div>
            <div class="profile-info">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                
                {% endif %}
                <h1 class="account-heading">{{ user.username }}</h1>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <div class="form-background">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    {{ u_form.username }}
                </div>
                <div class="form-group">
                        <label for="id_image">Profile Image</label>
                        {{ p_form.image }}
                    
                </div>
                <div class="form-group">
                    <label for="id_old_password">Old Password</label>
                    {{ password_form.old_password }}
                </div>
                <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    {{ password_form.new_password1 }}
                </div>
                <div class="form-group">
                    <label for="id_new_password2">Confirm New Password</label>
                    {{ password_form.new_password2 }}
                </div>
                <button type="submit" class="btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}