{% extends 'gymmy/base.html' %}
{% load static %}

{% block title %}Gymmy | Reset Password{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
<div class="login-form">
  <form method="POST" action="{% url 'reset_password' %}">
    {% csrf_token %}
    
    <h1>Reset Password</h1>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="input-box">
      {{ form.email.label_tag }}
      {{ form.email }}
      <i class='bx bxs-envelope'></i>
    </div>

    <div class="input-box">
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      <i class='bx bxs-lock-alt'></i>
    </div>

    <div class="input-box">
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
      <i class='bx bxs-lock-alt'></i>
    </div>

    <button class="btn" type="submit">Reset Password</button>
    
  </form>
</div>
{% endblock %}
