{% extends 'gymmy/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/routines.css' %}">{% endblock %}
{% block title %}Gymmy | Routines{% endblock %}

{% block content %}

    <div class="search-box">
        <form action="{% url 'routines' %}" method="get">
            <div class="row">
                <input type="text" id="input-box" name="input-box" placeholder="Search here">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>



    <title>About</title>
    <div class="wrapper">
        {% for routine in routines %}
        <div class="container">
            <div class="card">
                <div class="front"><img src="{{ routine.image.url }}" alt="Routine Image"></div>
                <div class="back">
                    <h1>{{ routine.routine }}</h1>
                    <h2>{{ routine.category }}</h2>
                    <h3><a href= "{% url 'routinedetails' routine.pk %}">View more</a></h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
