{% extends 'gymmy/base.html' %}
{% load static %}

{% block title %}Gymmy | Signup{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/signup.css' %}">{% endblock %}


{% block content %}
  
<div class="signup-form">
  <div class="form-wrapper">
    <form method="POST" action="{% url 'signup' %}" class="form-box" >
      <h1>Sign Up</h1>
      {% csrf_token %}

      <div class="input-box">
        {{form.username}}
        <label for="username">Username</label>
      </div>

      <div class="input-box">
        {{form.email}}
        <label for="email">Email</label>
      </div>

      <div class="input-box">
        {{form.password1}}
        <label for="password1">Password</label>
      </div>

      <div class="input-box">
        {{form.password2}}
        <label for="password2">Confirm Your Password</label>
      </div>

      <button type="submit" class="signup-btn">Sign Up</button>

      <div class="login-link">
        <p>Already have an account? <a href="">Login</a></p>
      </div>

    </form>
  </div>
</div>

{% endblock %}